.InfoWindow {
    border: 1px solid #3072f6;
    background-color: #23262E;
    padding: 20px;
    margin: 20px;
}

.InfoWindow form {

}

.InfoWindow div {
    margin-top: 12px;
    margin-bottom: 12px;
}

.InfoWindow label {
    width: 200px;
    display: inline-block;
    color: white;
    text-align: right;
}

.InfoWindow input ,.InfoWindow select{
    width: 260px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #4987c0;
    box-shadow: 1px 1px 1px #99afc4;
}

.InfoWindow input:focus,.InfoWindow select:focus {
    border: 1px solid #0e56a8;
    background: rgba(238, 236, 240, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

.InfoWindow span {
    margin-left: 20px;
    color: white;
}

/*验证错误*/
.InfoWindow .error span {
    color: red;
}

.InfoWindow .error input {
    border: 1px solid red;
}

.InfoWindow .ok span {
    color: green;
}

.InfoWindow .ok input {
    border: 1px solid green;
}
.InfoWindow input[type='radio']{
    width: 20px;
    height: 14px;
    line-height:12px;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    border: none;
    box-shadow: none;
}
.InfoWindowBtn {
    margin-left: 240px;
    padding-top: 20px;
}

.InfoWindowBtn a ,
.InfoWindowBtn input[type='submit'],
.InfoWindowBtn input[type='button'] {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    border: transparent;
    background: linear-gradient(to bottom, #85c0ec, #6aa7d6, #508dc6, #306fb4, #17559e);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    vertical-align: top;
}

.InfoWindowBtn a:active,
.InfoWindowBtn a:focus,
.InfoWindowBtn a:hover,
.InfoWindowBtn input[type='submit']:hover,
.InfoWindowBtn input[type='submit']:focus{
    background: linear-gradient(to bottom, #7aaed4, #578bb4, #406e99, #225792, #0d2d54);
}